<template>
    <div class="container">
        <br>
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div
                    class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"
                >
                    <h3 class="color--white mb-5">&nbsp;</h3>
                    <ul
                        class="contact-info__list list-style--none position-relative z-index-101"
                    >
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"
                                ><i class="fas fa-envelope"></i
                            > support@example.com</span>
                            
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute"><i class="fas fa-phone"></i> 300 258 4545</span>
                        </li>
                        <li class="mb-4 pl-4">
                            <span class="position-absolute">
                                <i class="fas fa-map-marker-alt"></i>
                                Bogota D.C 
                            </span>
                            <!-- <br />
                            2694 Queen City Rainbow Drive <br />
                            Florida 99161 -->
                            <!-- <div class="mt-3">
                                <a href="https://www.google.com/maps" target="_blank" class="text-link link--right-icon text-white">Get directions<i class="link__icon fa fa-directions"></i></a>
                            </div> -->
                        </li>
                    </ul>
                    <figure
                        class="figure position-absolute m-0 opacity-06 z-index-100"
                        style="bottom: 0; right: 10px"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            width="444px"
                            height="626px"
                        >
                            <defs>
                                <linearGradient
                                    id="PSgrad_1"
                                    x1="0%"
                                    x2="81.915%"
                                    y1="57.358%"
                                    y2="0%"
                                >
                                    <stop
                                        offset="0%"
                                        stop-color="rgb(255,255,255)"
                                        stop-opacity="1"
                                    ></stop>
                                    <stop
                                        offset="100%"
                                        stop-color="rgb(0,54,207)"
                                        stop-opacity="0"
                                    ></stop>
                                </linearGradient>
                            </defs>
                           
                        </svg>
                    </figure>
                </div>
                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                    <form
                        action="#" class="contact-form form-validate">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label
                                        class="required-field"
                                        for="firstName"
                                        >Nombre</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="firstName"
                                        name="firstName"
                                        placeholder="Nombre"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="lastName">Apellido</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="lastName"
                                        name="lastName"
                                        placeholder="Apellido"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="email"
                                        >Email</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="correo@example.com"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="phone">Numero de Celular</label>
                                    <input
                                        type="tel"
                                        class="form-control"
                                        id="phone"
                                        name="phone"
                                        placeholder="300 222 2222"
                                    />
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="message"
                                        >Como te podemos ayudar?</label
                                    ><textarea
                                        class="form-control"
                                        id="message"
                                        name="message"
                                        rows="4"
                                        placeholder="Explicanos tu situacion"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <button
                                    type="submit"
                                    name="submit"
                                    class="btn btn-primary"
                                >
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
