<template>
    <div class="container">
        <br>
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div
                    class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2"> 
                    <h3 class="color--white mb-5">&nbsp;</h3>
                </div>
                <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                    <form @submit.prevent="crear">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="firstName">Nombre</label>
                                    <input type="text" class="form-control" v-model="post.title" id="firstName" name="firstName"  placeholder="Nombre"/>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class="form-group">
                                    <label class="required-field" for="message"
                                        >Descripcion</label
                                    ><textarea
                                        class="form-control"
                                        v-model="post.description"
                                        id="message"
                                        name="message"
                                        rows="4"
                                        placeholder="Escribe el contenido"
                                    ></textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "create",
    data() {
        return {
            post:{}
        }
    },
    methods: {
        crear(){
            this.axios
                .post('/api/post', this.post)
                .then( response => (
                    this.$router.push({ name:'show' })
                ))
                .catch(error => {
                    console,log(error)
                })
        }
    }
}
</script>