<template>
    <div class="container">
        <br />
        <div class="contact__wrapper shadow-lg mt-n9">
            <div class="row no-gutters">
                <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2" style="width: 100%;">
                    <router-link :to="{ name:'create'}" class="btn btn-outline-success">Agregar</router-link>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Action</th>
                                <!-- <th scope="col">Handle</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="post in posts" :key="post.id">
                                <td>{{ post.title }}</td>
                                <td>{{ post.description }}</td>
                                <td>
                                    <router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-outline-info"><i class="bi bi-pencil-square"></i>Editar</router-link>
                                    <button @click="deletepost(post.id)" class="btn btn-outline-danger"><i class="fa-solid fa-pen-to-square">Eliminar</i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "show",
        data(){
           return  {
            posts:[]
           }
        },
        mounted(){
            this.showposts()
        },
        methods:{
            showposts(){
                this.axios.get('/api/post')
                .then(response => {
                    console.log(response.data)
                    this.posts = response.data.data
                })
                .catch( error => {
                    this.posts = []
                })
            },
            deletepost(id){
                if(confirm('seguro que desea eliminar')){
                    this.axios.delete(`/api/post/${id}`)
                    .then(response=>{
                        this.showposts()
                    })
                    .catch(error=>{
                        console.log(error)
                    })
                }
            }
        }
    }
</script>